.skills {
 
    padding-top: 5vh;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 400;
    width: 100vw;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 3vw ;

}
.intro{
    max-width: 50rem;
}
.heading{
    font-size: 7vh;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}
.skillSet{
    margin: 2rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}
.skill{
    display: flex;
    background-color: rgb(50, 50, 50);
    margin: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    
}
.skillImg{
    object-fit: contain;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
    position: relative;
    top:3vh;
}
.skillName {
    font-size: 5vh;
    font-weight: 500;
    
}
.skillInfo{
    font-size: 1rem;
    font-weight: 300;
}

@media screen and (max-width:500px) {
    .skillSet{
        max-width: 200%;
    }
    .heading, .skillName{
        font-size: 8vw;
    }
    .skillInfo, .intro{
        font-size: 3.5vw;
    }
}
